*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    min-height: 10vh;
    background-color: white;
    display: flex;
    justify-content: right;
    border-bottom-style: double;
    border-width: 10px;
}

.left-box{
    float: left;
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    background-color: orange;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-box{
    width: 50%;
    height: 90vh;
    float: right;
    border-left-style: double;
    border-width: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.input{
    height: 70%;
    width: 100%;
    padding: 20px;
}

form{
    padding: 10px;
}

.title-text{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}


.username-text{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.content-text{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type=submit]{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
